name: macOS Tailscale
on:
  workflow_dispatch:

jobs:
  mac:
    runs-on: macos-latest
    timeout-minutes: 360

    steps:
      - name: Install Tailscale
        run: |
          brew install tailscale
          sudo tailscaled &

      - name: Connect to Tailscale
        run: |
          sudo tailscale up \
            --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} \
            --hostname=gh-mac-${{ github.run_id }}

      - name: Show Tailscale IP
        run: |
          tailscale ip -4

      - name: Keep Alive
        run: |
          while true; do sleep 300; done
